section{width:calc(100% - 30px);height:calc(100vh - 30px);margin: 5px;border:10px solid #231f20}
#main{background-color: #fff}
#main h1{font-size:100px;padding-top:35vh;text-align:center}
#main h2{font-size:30px;text-align:center;margin-top:30px;margin-bottom:110px}
#main ul{display:flex;justify-content:space-between;}
#main ul li{font-size:30px;font-weight:600;border-bottom:5px solid #231f20;width:200px;}
#main ul li:nth-child(1){text-align:right}

#work h1, #info h1{position:fixed;top:5vh;width:calc(100% - 30px);text-align:center;font-size:30px}
nav{position:fixed;top:10vh;width:calc(100% - 30px)}
nav ul{display:flex;justify-content:space-between;}
nav ul li{width:140px;border-bottom:3px solid #231f20;text-align: left}
nav ul li:nth-child(1){text-align:right}
#work article{display:flex;padding-top:100px;align-items:center;height:calc(100% - 100px);width:100%}
#work article .img{width:65%;text-align: center}
#work article .img a img{height:60vh;}
#work article .text{display:flex;flex-direction: column;width:25%;word-break:keep-all;margin-bottom:50px}
#work article .text h2{font-size:50px}
#work article .text h3{font-size:25px;margin:15px 0 20px}
#work button{border: none;background: none;cursor: pointer}
#work .button{display:flex;justify-content:space-between;position:absolute;bottom:20%;width:25%;}
#work .button .prev{background-image: url("../image/next.png");width:20px;height:32px;}
#work .button .next{order:3;background-image: url("../image/next.png");width:20px;height:32px;background-position-x:20px}

#work #w1{background-color: #f8bdbf}
#work #w2{background-color: #f4e398;}
#work #w3{background-color: #202e45;color: #d1d1d1;}
#work #w3 .button .prev{background-image: url("../image/next_w.png");width:20px;height:32px;}
#work #w3 .button .next{order:3;background-image: url("../image/next_w.png");width:20px;height:32px;background-position-x:20px}
#work #w4{background:linear-gradient(to left, #fd746c, #ff9068);}
#work #w5{background-color: #ffbc15;}
#work .go{position: absolute;top:0;left:0;background-repeat: no-repeat;display:none}

#info{text-align: center;}
#info img{margin-top: 11vh}
#info h2{font-size: 0;color: transparent;text-indent: -9999px;}
#info p{position:absolute;bottom:50px;left:50px;line-height: 20px;text-align:left;}

body{overflow:hidden}
#info, #work{display: none}

/* #work{border-left: calc(100vw - 10px) solid #231f20;position: absolute;top:0;z-index: -99;} */

.t{width:10px;height:calc(100vh - 20px);background-color: #231f20;margin: 5px;z-index:10;position: absolute;top:0}
.tr{width:10px;height:calc(100vh - 20px);background-color: #231f20;margin: 5px;z-index:10;position: absolute;top:0;right:0;}

.pls{animation:page_LS 0.5s alternate forwards}
.ple{animation:page_LE 0.5s alternate forwards}
.prs{animation:page_RS 0.5s alternate forwards}
.pre{animation:page_RE 0.5s alternate forwards}

@keyframes page_LS{
    0%{width:10px;}
    /* 100%{width:calc(100vw - 20px)} */
    100%{width: 99%;}
}
@keyframes page_LE{
    0%{width: 99%}
    100%{width:10px}
}
@keyframes page_RS{
    0%{width:10px}
    100%{width: 99%}
}
@keyframes page_RE{
    0%{width: 99%}
    100%{width:10px}
}

/* Mobile Device */
@media screen and (max-width : 767px) {
   #main h1{font-size: 45px}
   #main h2, #work h1, #info h1 {font-size: 20px}
   #main ul li{font-size: 20px; width: 30%;}
   #info img{width:100%;margin-top:20vh}
   #info p{left:0;margin: 20px 20px 0px 20px;word-break: keep-all}
   nav ul li{width:25%}
   #work article{flex-direction: column; padding-top:11vh;height:calc(100% - 11vh);}
   #work article .img {width:calc(100vw - 30px);height: 45vh}
   #work article .img a img {width:calc(100% - 20px);height: auto;margin-top:20px}
   #work article .text{width:calc(100vw - 40px);margin:0 30px 30px}
   #work article .text h2{font-size:0;color:transparent;text-indent:-9999px}
   #work .button{width:50%;bottom:25px;left:25%}

}
/* Tablet Device */
@media screen and (min-width : 768px) and (max-width : 991px) {
   
}