@font-face{
    src:url('../font/Midnight Valentine.eot');
}
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css');
@font-face{
    src:url('../font/Avenir.eot');
}
@import url('http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@font-face{
    font-family:'Golden Plains';
    src:url('../font/Golden Plains.eot');
    src:local(※), 
        url('../font/Golden-Plains.woff') format('woff');
}
html,body{
    height: 100%;font-family: 'Nanum Barun Gothic', sans-serif;box-sizing: border-box;
    font-family: 'nanummyeongjo',serif ,'궁서'
}
ul{list-style:none;}
.index{background-image: url('../image/i1_1.png');width: 100%;background-position: center;background-repeat: no-repeat;
background-size: cover;}
.index>h1{font-family:'Golden Plains';
    font-size: 0;color: transparent;
    text-indent: -9999px;
    background-image: url('../image/i1_1_t.png');
    text-align: center;background-position: center; width: 100%;height: 30vh;z-index: 3;background-repeat: no-repeat;position: absolute;top: 0;background-size: 600px;
    }
.index p{position: absolute;left: 40px; bottom: 40px; font-size: 1.2rem;line-height:2rem; font-family: 'nanummyeongjo',serif;color: #525252;font-style: italic;font-weight: 900;
}
.nanum{font-family:'nanummyeongjo', sans-serif;font-weight: 900;font-style: normal;font-size: 1rem;
}
article{width: 50%;height: 100vh;
}
#travel, #Fall, #Meter{display: flex;justify-content: center;align-items: center;flex-flow: column;text-align: center;width: 100%;height: 100%;
}
#travel img{width: 20vw;
}
#Fall img{margin-left: 40px;}
#italic{position: absolute;left: 40px; bottom: 40px; font-size: 1.2rem;line-height:2rem; font-family:'nanummyeongjo', serif;font-style: italic;font-weight: 900; margin-top: 30px;
}
#travel_l, #Fall_r, #Meter_l, #Bless{display: flex;justify-content: center;align-items: center;flex-flow: column;
}
#travel_l>h1, #Fall_r>h1, #Meter_l>h1, #Bless>h1{font-family:'Golden Plains';font-size: 100px; color: #ff638b;font-weight: 200;
}
#travel_l img{margin:40px 0;margin-left: -50px;
}
#Fall_r img, #Meter_l img, #Bless img{margin:40px 0;
}
#travel_l p, #Fall_r p, #Meter_l p, #Bless p{width: 25vw;line-height: 40px;font-size: 13px; word-break:keep-all;text-align: center;margin-top:30px;
}
#travel_r{background-image:url('../image/i1_2_r.png');width: 50%; background-position: center;background-repeat: no-repeat;background-size: cover
}
#Fall_l{background-image:url('../image/i1_3_l.png');width: 50%; background-position: center;background-repeat: no-repeat;background-size: cover}
#Meter_r{background-image:url('../image/i1_4_r.png');width: 50%; background-position: center;background-repeat: no-repeat;background-size: cover
}
#end{background-image: url('../image/i5.jpg');width: 100%;background-position: center center;background-repeat: no-repeat;
    background-size: cover;display: flex;align-items:flex-start;
}
#end h1{font-family:'Golden Plains';
    font-size: 100px; color: #ff638b;font-weight: 200;margin-top: 20px;
}
#Bless img{margin:40px 0 10px;width: 5vw}
#Bless>h1{font-size:50px; }
#Bless p>span{margin-bottom: 30px;}
.finish{background-color: #ff638b;width: 100%; height: 100vh;display: flex;justify-content: center;align-items: center;flex-flow: column;}
.finish h1{font-family:'Golden Plains';font-size: 300px; color: #ffffff; margin-top: 20vh; font-weight: 300;}
.finish #box{position: relative;z-index: 2;    top: -45vh;}
#box p{position: absolute;top: 50vh; left: 20px;text-align: center;line-height: 30px;color: #fff;font-size: 1.2rem;font-family:'Noto Serif', serif;font-style: italic;font-weight: 600}
#box p span{font-weight: 900}
#page{height: 100%;width: 100%;background-color: transparent;border: 1px solid transparent; position: fixed; top:0; left: 0;display: flex;flex-direction: column;}
#prev{height: 50vh;width: 100%; background-color: transparent;border: 1px solid transparent;}
#next{height: 50vh;width: 100%; background-color: transparent;border: 1px solid transparent;

}
#end_2 img{height: 100%;}
#explanation{position:absolute;width: 100%;height: 100%;z-index: 99;}
#explanation img{width: 100%;height: 100%;background-position: center center;background-repeat: no-repeat;}
.end{display: none}